body{
    margin: 0;
  background-color: #1800ad;
}
.imgform{
    margin-top: 32%;
    width: 100%;
}
.title{
    color: white;
    text-align: center;
    font-size: 5rem;
}
.reddv{
    transform: translateY(-53%);
    background-color: #1800ad;
    height: 14vh;
}
.text{
    color: white;
    text-align: center;
    font-size: 3rem;
}
.litle-title{
    color: white;
    font-size: 6.5rem;
    transform: translateY(10vh);
    padding: 5% 0 0 0;
    text-align: center;
}
.wth-dis{
    transform: translateY(9vh);
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    padding: 0 0 5% 0;
}
.white-dv button{
    font-size: 3rem;
    width: 100%;
    background-color: white;
    height: 6vh;
    align-content: center;
    text-align: center;
    border-radius: 2vh;
}
.div-wht-gap{
    width: 46%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
